/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/*own style */

body {
	background: aqua;
	font-family: Arial;
	font-size: 18px;
}

.feed {
	border: 5px solid white;
	border-radius: 25px;
	width: 60%;
	padding: 20px;
	margin: auto;
}
.button-feed {
	text-align: center;
	padding: 10px;
}
.update {
	font-size: 15px;
	border-radius: 8px;
	background-color: white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
div.twid {
	padding: 5px;
}
span.twidUsername {
	color: blue;
}
abbr.date.timeago {
	color: grey;
	font-style: italic;
	font-size: 16px;
}
div.twidMessage {
	font-size: 20px;
	padding: 1px;
}

h1 {
	color: white;
	font-size: 40px;
	padding: 10px 10px 10px 10px;
	text-align: center;
}
.post {
	padding: 10px 10px 10px 10px;
	width: 60%;
	margin: auto;
}
div.post1 {
	text-align: left;
	padding-bottom: 5px;
}
input.myusername {
	border: 2px;
	border-radius: 4px;
	font-size: 14px;
}
div.post2 {
	text-align: left;
}
textarea.type {
	border: 2px;
	border-radius: 6px;
	height: 100px;
	padding-top: 5px;
	font-family: Arial;
		font-size: 16px;
}
div.button-post {
	padding-left: 450px;
}
button.submit {
	background-color: white;
	border-radius: 20px;
	font-size: 18px;
	font-family: Arial;
		color: blue;
		font-size: 12px;
		font-style: bold;
 	-webkit-box-shadow: 6px 5px 24px #666666;
  	-moz-box-shadow: 6px 5px 24px #666666;
  	box-shadow: 6px 5px 24px #666666;
}

.type {
	width: 32em;
	height: 8em;
}
div.profile {
	text-align: center;
	font-size: 22px;
	padding-bottom: 10px;
}



